/*.fbl_editor-block {
  border: 1px solid #ddd;
}*/

.fbl_card {
  .components-card__body {
    display: flex;
    flex-wrap: wrap;

    >* {
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
      min-width: 120px;
    }
  }

  .components-button {
    border-radius: 2px;
  }

  .components-range-control__wrapper {
    margin-left: 0;
  }

  .components-base-control--error {
    input {
      border-color: rgb(204, 24, 24);
      box-shadow: 0 0 0 1px rgb(204, 24, 24);
    }
  }
}

.fbl_block-title {
  font-size: 13px;
  margin-bottom: 13px;
  background-color: #f8f8f8;
}

.fbl_url-input {
  &__label {
    width: 100%;
  }

  >* {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__url {
    display: inline-block;
    padding-left: 16px;
    color: gray;
    width: calc(100% - 36px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .block-editor-url-input__button {
    display: inline-block;
    vertical-align: middle;
  }

  .block-editor-url-input__button-modal {
    position: absolute;
  }
}

.fbl_rich-text {
  width: 100%;
  min-height: 50px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  padding: 6px 8px;
  box-shadow: 0 0 0 transparent;
  transition: box-shadow .1s linear;
  border-radius: 2px;
  border: 1px solid #757575;

  &:focus {
    border-color: #007cba;
    border-color: var(--wp-admin-theme-color);
    box-shadow: 0 0 0 1px #007cba;
    box-shadow: 0 0 0 1px var(--wp-admin-theme-color);
    outline: 2px solid transparent;
  }
}

.fbl_repeater-inputs {
  width: 100% !important;
}

/* Flexbox for innerBlocks */
.fbl_editor-block {
  .block-editor-inner-blocks>.block-editor-block-list__layout {
    display: flex;
    flex-wrap: wrap;

    >* {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }

    .block-list-appender {
      width: 100%;
    }
  }
}